<div class="container">
    <main class="col-md-12">
        <form method="POST" action="/courses/add">
            <fieldset>
                <legend>Course Information</legend>
                <div class="form-group">
                    <label>Course Code:</label>
                    <input class="form-control" type="text" name="courseCode" />
                </div>
                <div class="form-group">
                    <label>Course Description:</label>
                    <input class="form-control" type="text" name="courseDescription" />
                </div>
            </fieldset>
            <hr />
            <input type="submit" class="btn btn-primary float-right" value="Add Course" /><br /><br /><br />
        </form>
    </main>
</div>
